#timer {
    font-size: 3.0rem;
    font-weight: 700;
}

button {
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    border-radius: 0.5rem;
}